<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#001c7b" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#001c7b" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#001c7b" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Code challenge</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
