<template>
  <div class="documents_list">
    <div v-if="documentsList.length">
      <table cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>
              <span
                >Document Name
                <button
                  class="asc_btn order_btn"
                  v-on:click="sortDocumentsByName('asc')"
                ></button>
                <button
                  class="desc_btn order_btn"
                  v-on:click="sortDocumentsByName('desc')"
                ></button>
              </span>
            </th>
            <th class="date_header_wrapper">
              <span class="date_header"
                >Date
                <button
                  class="asc_btn order_btn"
                  v-on:click="sortDocumentsByDate('asc')"
                ></button>
                <button
                  class="desc_btn order_btn"
                  v-on:click="sortDocumentsByDate('desc')"
                ></button>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="document in documentsListShow" v-bind:key="document.id">
            <td class="document_name">{{ document.name }}</td>
            <td class="document_date">{{ document.date }}</td>
          </tr>
        </tbody>
      </table>
      <div class="paggination">
        <button id="firstPage" class="pag_prev_prev pag" v-on:click="showFirst">
          {{ prev }}{{ prev }}
        </button>
        <button id="prevPage" class="pag_prev pag" v-on:click="showPrevious">
          {{ prev }}
        </button>
        <span>{{ currentPage }} of {{ pagesAmount }}</span>
        <button id="nextPage" class="pag_next pag" v-on:click="showNext">
          {{ next }}
        </button>
        <button id="lastPage" class="pag_next_next pag" v-on:click="showLast">
          {{ next }}{{ next }}
        </button>
      </div>
    </div>
    <div class="empty" v-else>Nothing was found!</div>
  </div>
</template>
<script>
import 'isomorphic-fetch'

const API_URL = 'https://bitbucket.org/homecommand/codecha/raw/1668cade71143b03c2be33a5a3048f35c79c384c/task_data/document.json'
export default {
  name: 'DocumentsList',
  data () {
    return {
      documentsListOriginal: [],
      documentsListShow: [],
      documentsList: [],
      errorBox: '',
      minDate: '2000-01-01',
      maxDate: new Date().toISOString().split('T')[0],
      isActive: false,
      prev: '<',
      next: '>',
      currentPage: 1,
      pageRecorder: 0,
      pagesAmount: null
    }
  },
  methods: {
    /*
     *fetches documents list from the server
     */
    fetchDocs (minDate, maxDate) {
      this.errorBox = ''
      fetch(API_URL)
        .then(onFulfilled => onFulfilled.json())
        .then(onFulfilled => {
          // saves the original list of documents what was fetched from the server
          this.documentsListOriginal = onFulfilled.documents
          for (const key in this.documentsListOriginal) {
            const prettyDate = new Date(this.documentsListOriginal[key].date)
            // fills the new array with filtered data with required formats. In default min date and max date are equal 01.01.2000 and current time
            const extensionArray = this.documentsListOriginal[key].name.split(
              '.'
            )
            const extension = extensionArray[extensionArray.length - 1]
            if (
              new Date(prettyDate) >= new Date(minDate) &&
              new Date(prettyDate) <= new Date(maxDate) &&
              (extension === 'pdf' || extension === 'docx')
            ) {
              this.documentsList.push({
                name: this.documentsListOriginal[key].name,
                _date: prettyDate,
                date: prettyDate
                  .toLocaleString('en-GB')
                  .split(',')[0]
                  .split('/')
                  .join('-')
              })
            }
          }
          // for default descending sorting documents list by date
          this.sortDocumentsByDate('desc')
          // for showing only 6 elements in the table
          this.paginate()
        })
        .catch(error => {
          this.errorBox = error
        })
    },
    /**
     * connects Apply Filters button's onclick event from filter component with documents list component
     */
    applyFilterEvent () {
      this.$root.$on('applyFilterEvent', (minDate, maxDate) => {
        this.documentsList = []
        this.currentPage = 1
        this.pageRecorder = 0
        this.fetchDocs(minDate, maxDate)
      })
    },
    /**
     * connects Clear Filters button's onclick event from filter component with documents list component
     */
    clearFilterEvent () {
      this.$root.$on('clearFilterEvent', (minDate, maxDate) => {
        this.documentsList = []
        this.currentPage = 1
        this.pageRecorder = 0
        this.clearFilter(minDate, maxDate, this.documentsList)
      })
    },
    /**
     * shows only 6 documents in the table
     */
    paginate () {
      this.pagesAmount = Math.ceil(this.documentsList.length / 6)
      if (this.pageRecorder < this.currentPage * 6) {
        this.documentsListShow = this.documentsList.slice(
          this.pageRecorder,
          this.currentPage * 6
        )
      } else {
        this.documentsListShow = this.documentsList.slice(
          this.currentPage * 6,
          this.pageRecorder
        )
      }
    },
    clearFilter () {
      this.fetchDocs(this.minDate, this.maxDate)
      document.getElementById('nextPage').disabled = false
      document.getElementById('lastPage').disabled = false
      document.getElementById('prevPage').disabled = false
      document.getElementById('firstPage').disabled = false
    },
    sortDocumentsByDate (order) {
      this.documentsList.sort(function (a, b) {
        if (order === 'asc') {
          return a._date < b._date ? -1 : a._date > b._date ? 1 : 0
        } else {
          return a._date > b._date ? -1 : a._date < b._date ? 1 : 0
        }
      })
      // for showing only 6 elements from sorted list in the table
      this.paginate(this.documentsList)
    },
    sortDocumentsByName (order) {
      this.documentsList.sort(function (a, b) {
        if (order === 'asc') {
          return a.name.toLowerCase() < b.name.toLowerCase()
            ? -1
            : a.name.toLowerCase() > b.name.toLowerCase()
              ? 1
              : 0
        } else {
          return a.name.toLowerCase() > b.name.toLowerCase()
            ? -1
            : a.name.toLowerCase() < b.name.toLowerCase()
              ? 1
              : 0
        }
      })
      // for showing only 6 elements from sorted list in the table
      this.paginate(this.documentsList)
    },
    /**
     * shows next 6 documents in the documents list
     */
    showNext () {
      if (this.currentPage >= this.pagesAmount) {
        document.getElementById('nextPage').disabled = true
        document.getElementById('lastPage').disabled = true
      } else {
        this.currentPage = this.currentPage + 1
        this.pageRecorder = this.pageRecorder + 6
        document.getElementById('prevPage').disabled = false
        document.getElementById('firstPage').disabled = false
      }
    },
    /**
     * shows previous 6 documents in the documents list
     */
    showPrevious () {
      if (this.currentPage <= 1) {
        document.getElementById('prevPage').disabled = true
        document.getElementById('firstPage').disabled = true
      } else {
        this.currentPage = this.currentPage - 1
        this.pageRecorder = this.pageRecorder - 6
        document.getElementById('nextPage').disabled = false
        document.getElementById('lastPage').disabled = false
      }
    },
    /**
     * shows the first 6 documents in the documents list
     */
    showFirst () {
      this.currentPage = 1
      this.pageRecorder = 0
      document.getElementById('prevPage').disabled = true
      document.getElementById('firstPage').disabled = true
      document.getElementById('nextPage').disabled = false
      document.getElementById('lastPage').disabled = false
    },
    /**
     * shows the last 6 documents in the documents list
     */
    showLast () {
      this.currentPage = this.pagesAmount
      this.pageRecorder = this.documentsList.length - 6
      document.getElementById('nextPage').disabled = true
      document.getElementById('lastPage').disabled = true
      document.getElementById('prevPage').disabled = false
      document.getElementById('firstPage').disabled = false
    },
    /**
     * renders documents in the documents list
     */
    renderDocumentsList () {
      this.fetchDocs(this.minDate, this.maxDate)
      this.applyFilterEvent()
      this.clearFilterEvent()
    }
  },
  mounted () {
    this.renderDocumentsList()
  },
  /**
   * watches currentPage's value, if it changes wil be activated paginate() method
   */
  watch: {
    currentPage: 'paginate'
  }
}
</script>

<style scoped>
.documents_list {
  float: right;
  background-color: #e0e0e0;
  width: 764px;
  border-radius: 5px;
  position: relative;
  height: auto;
}
table tr {
  height: 33px;
  border: none;
}
table td {
  padding-left: 10px;
  font-family: Roboto;
  font-size: 14px;
}
table tr:nth-child(2n) {
  background-color: #ffffff;
}
table tbody {
  background-color: #cbcbcb;
  margin: 0 20px;
}
table {
  background-color: #e0e0e0;
  width: 734px;
  text-align: left;
  display: inline-table;
  height: auto;
  margin-bottom: 60px;
  border: none;
}
thead tr th {
  font-size: 16px;
  line-height: 30px;
  height: 50px;
}
span {
  position: relative;
  width: auto;
  padding-right: 25px;
  display: inline-block;
  padding-left: 10px;
  font-family: Roboto-Medium;
}
button {
  background-image: url(../assets/Triangle.png);
  background-repeat: no-repeat;
  background-size: 7px 7px;
  border: none;
  background-position: center center;
  position: absolute;
  display: inline-block;
  visibility: hidden;
}
button:focus {
  outline: none;
}
span:hover button {
  visibility: visible;
}
.active {
  visibility: visible;
}
.asc_btn {
  bottom: 0;
  right: 5px;
}
.desc_btn {
  background-position: center center;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 0;
  right: 4px;
}
.document_name {
  width: 80%;
}
.paggination {
  width: 180px;
  height: 22px;
  display: block;
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-right: 20px;
  font-family: Roboto-Medium;
  color: #001c7b;
  font-size: 14px;
  line-height: 22px;
}
.paggination span {
  padding-right: 0;
}
.paggination .pag {
  width: 22px;
  height: 22px;
  background-color: white;
  display: inline-block;
  visibility: visible;
  background-image: none;
  border: 1px solid #001c7b;
  padding: 0;
}
.pag_prev_prev {
  left: 0;
}
.pag_prev {
  left: 30px;
}
.pag_next {
  right: 30px;
}
.pag_next_next {
  right: 0;
}
.empty {
  background-color: white;
  color: red;
  font-size: 26px;
}
.order_btn {
  width: 15px;
  height: 15px;
}
@media only screen and (max-width: 769px) {
  .documents_list {
    width: 500px;
    height: auto;
    margin-bottom: 30px;
    margin-right: 20px;
  }
  table {
    width: auto;
    margin: 0 15px;
    display: block;
    height: auto;
    margin-bottom: 50px;
  }
  .document_name {
    width: 70%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 36px;
    line-height: 36px;
  }
  .document_date {
    width: 20%;
    height: auto;
    padding-left: 20px;
    display: inline-block;
  }
  thead {
    width: 115px;
  }
  thead tr th {
    width: 115px;
  }
  table tr {
    width: 470px;
    display: inline-block;
    height: auto;
    margin: 0 auto;
  }
  table td {
    word-break: break-word;
    white-space: pre-wrap;
    -moz-white-space: pre-wrap;
    display: inline-block;
  }
  thead tr th {
    font-size: 14px;
    width: 70%;
    display: inline-block;
  }
  thead tr th.date_header_wrapper {
    width: 20%;
    padding-left: 20px;
  }
  thead tr th span {
    width: fit-content;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
  }
  .date_header {
    width: fit-content;
  }
  .paggination {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  table tbody {
    margin: 0 15px;
    width: 470px;
  }
  .paggination span {
    padding-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  .documents_list {
    margin-top: 20px;
    width: 260px;
  }
  .document_name {
    width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
    height: 36px;
    line-height: 36px;
  }
  .document_date {
    width: 85px;
    padding-left: 20px;
  }
  table tr {
    width: 230px;
  }
  thead tr th {
    font-size: 14px;
    width: 135px;
    display: inline-block;
  }
  thead tr th.date_header_wrapper {
    width: 55px;
  }
  thead tr th span {
    width: auto;
    padding-right: 10px;
  }
  .date_header {
    width: auto;
    padding-left: 0;
  }
  .paggination {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  table tbody {
    width: 230px;
  }
}
</style>
