<template>
  <div class="docs">
    <h2>Documents</h2>
    <DocumentsList />
    <FilterBy />
  </div>
</template>

<script>
// @ is an alias to /src
import DocumentsList from '@/components/DocumentsList.vue'
import FilterBy from '@/components/FilterBy.vue'

export default {
  name: 'Documents',
  components: {
    DocumentsList,
    FilterBy
  }
}
</script>

<style scoped>
.docs {
  display: block;
  overflow: auto;
  z-index: 1;
  width: 1000px;
  margin: auto;
  margin-top: 30px;
}
h2 {
  text-align: left;
  font-size: 20px;
  font-family: Roboto-Medium;
  color: #464646;
  margin: 0 0 25px 25px;
}
@media only screen and (min-width: 501px) and (max-width: 769px) {
  .docs {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .docs {
    width: 100%;
    margin-top: 20px;
  }
  h2 {
    padding-top: 0;
    margin-bottom: 0;
  }
}
</style>
