<template>
  <div>
    <button class="openFilter" v-on:click="toggleFilter">
      <span>Filter by</span>
    </button>
    <div class="filter_by" v-bind:class="{ active: isActive }">
      <h3>Filter by</h3>
      <a class="close_btn" v-on:click="toggleFilter"></a>
      <div id="start_input">
        <input
          class="start"
          type="text"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          placeholder="From"
          id="start"
          v-model="minDate"
        />
      </div>
      <div class="end_input">
        <input
          class="end"
          type="text"
          onfocus="(this.type='date')"
          placeholder="To"
          onblur="(this.type='text')"
          id="end"
          v-model="maxDate"
        />
      </div>
      <button v-on:click="applyFilterEvent">Apply filters</button>
      <button class="clearFilter" v-on:click="clearFilterEvent">
        Clear filters
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      minDate: 'From',
      maxDate: 'To',
      isActive: false
    }
  },
  methods: {
    applyFilterEvent () {
      if (this.minDate === 'From') {
        this.minDate = '2000-01-01'
      }
      if (this.maxDate === 'To') {
        this.maxDate = new Date().toISOString().split('T')[0]
      }
      this.$root.$emit('applyFilterEvent', this.minDate, this.maxDate)
    },
    clearFilterEvent () {
      this.$root.$emit(
        'clearFilterEvent',
        '2000-01-01',
        new Date().toISOString().split('T')[0]
      )
      this.minDate = 'From'
      this.maxDate = 'To'
    },
    toggleFilter () {
      this.isActive = !this.isActive
    }
  }
}
</script>

<style scoped>
.filter_by {
  width: 200px;
  display: block;
  height: 220px;
  background-color: #e0e0e0;
  border-radius: 5px;
}
h3 {
  font-size: 16px;
  font-family: Roboto-Medium;
  text-align: left;
  padding: 15px 15px;
  margin-bottom: 0;
}
input,
input[type="date"] {
  width: 140px;
  height: 30px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  color: #d2d2d2;
  background-image: url(../assets/Calendar.png), url(../assets/arrow.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 10px, 10px;
  background-position: 10px center, 150px center;
  padding-left: 28px;
}
input[type="date"] {
  border: 1px solid #e4e4e4;
  font-size: 12px;
  background-image: none;
}
input:focus {
  border: 1px solid #e4e4e4;
  background-image: none;
  outline: none;
}
input[type="text"]::placeholder,
input[type="date"]::placeholder {
  color: #d2d2d2;
  font-size: 12px;
}
button {
  display: inline-block;
  width: 170px;
  height: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #2d4596;
  color: #ffffff;
  font-family: Roboto-Medium;
  font-size: 14px;
}
button.clearFilter {
  background-color: #eaac4c;
}
button:focus {
  outline: none;
  font-size: 15px;
}
.close_btn {
  display: none;
}
.openFilter {
  display: none;
}
@media only screen and (min-width: 501px) and (max-width: 769px) {
  .filter_by {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 500px) {
  h3 {
    text-wrap: no-wrap;
  }
  .filter_by {
    display: none;
    z-index: 10;
    margin-left: 0;
    position: relative;
    margin-top: 20px;
  }
  button {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }
  button.clearFilter {
    top: 170px;
  }
  input {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  input.end {
    top: 90px;
  }
  .close_btn {
    display: block;
    background-image: url(../assets/close.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .active {
    display: block;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .openFilter {
    position: absolute;
    top: 125px;
    left: 0;
    width: 30px;
    height: 75px;
    transform: inherit;
    background-color: #d8d8d8;
    color: #4e4e4e;
    border-radius: 0;
    z-index: 1;
    display: block;
  }
  .openFilter span {
    display: block;
    transform: rotate(-90deg);
    font-size: 12px;
    font-family: Roboto-Medium;
    width: 75px;
    height: 30px;
    margin-left: -30px;
    line-height: 30px;
  }
}
</style>
