<template>
  <div id="app">
    <div class="header">
      <div class="logo"></div>
      <button class="open_menu_btn" v-on:click="toggleMenu()"></button>
      <div class="menu_wrapper" v-bind:class="{ active: isActive }">
        <ul class="mobile_menu">
          <li v-on:click="redirect('/')"><a>Home</a></li>
          <li v-on:click="redirect('/documents')"><a>Documents</a></li>
          <li v-on:click="redirect('/contacts')"><a>Contacts</a></li>
        </ul>
        <div class="user mobile_menu" v-on:click="redirectToProfile">
          <div>
            <span class="first_name">{{ firstName }}</span>
            <span class="last_name">{{ lastName }}</span>
          </div>
        </div>
      </div>
    </div>
    <router-view />
    <div class="footer">
      <ul>
        <li><router-link to="/addition">© Copyrights</router-link></li>
        <li><router-link to="/addition">All rights reserved</router-link></li>
        <li><router-link to="/addition">Imprint</router-link></li>
        <li><router-link to="/addition">Terms of use</router-link></li>
        <li><router-link to="/addition">Privacy policy</router-link></li>
      </ul>
    </div>
  </div>
</template>
<script>
import 'isomorphic-fetch'

const USER_API_URL = 'https://bitbucket.org/homecommand/codecha/raw/1668cade71143b03c2be33a5a3048f35c79c384c/task_data/user.json'
export default {
  name: 'App',
  data () {
    return {
      firstName: 'first name',
      lastName: 'last name',
      errorBox: '',
      isActive: false
    }
  },
  methods: {
    fetchUserInfo () {
      this.errorBox = ''
      fetch(USER_API_URL)
        .then(onFulfilled => onFulfilled.json())
        .then(onFulfilled => {
          this.firstName = onFulfilled.body.User.profile.firstName
          this.lastName = onFulfilled.body.User.profile.lastName
        })
        .catch(error => {
          this.errorBox = error
        })
    },
    toggleMenu () {
      this.isActive = !this.isActive
    },
    redirectToProfile () {
      alert('Here supposed to be user profile page. But it is not ready yet')
    },
    redirect (target) {
      this.toggleMenu()
      this.$router.push({ path: target })
    }
  },
  mounted () {
    this.fetchUserInfo()
  }
}
</script>

<style>
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
html {
  position: relative;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
}
.logo {
  background-image: url(./assets/Company.svg);
  display: inline-block;
  height: 60px;
  background-repeat: no-repeat;
  margin-top: 0;
  background-position: center, center;
  width: 120px;
  margin: 0 30px;
  float: left;
  margin-left: 20px;
}
.header {
  width: 100%;
  display: block;
  height: 60px;
  background-color: #001c7b;
}
.header ul {
  display: inline-block;
  margin: 0;
  background-color: #001c7b;
}
.header ul li {
  display: inline-block;
  width: auto;
  margin: 0;
  cursor: pointer;
}
.header ul li a {
  color: #ffffff;
  height: 60px;
  line-height: 60px;
  width: auto;
  padding: 0 20px;
  display: block;
  background-color: #001c7b;
  font-size: 14px;
  font-family: Verdana;
}
.header ul li a:hover {
  color: #001c7b;
  background-color: #ffffff;
  text-decoration: none;
}
.user {
  display: inline-block;
  height: 60px;
  margin-top: 0;
  color: white;
  float: right;
  margin-right: 20px;
  width: 170px;
  background-image: url(./assets/Ava.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 30px 50%;
  border-left: 2px solid #ffffff;
  cursor: pointer;
}
.user div {
  height: 36px;
  transform: translateY(-50%);
  margin-top: 30px;
}
.user span {
  font-size: 14px;
  height: 18px;
  padding: 0;
  display: block;
  font-family: Verdana;
}
.footer {
  width: 100%;
  display: block;
  height: 40px;
  background-color: #001c7b;
  bottom: 0;
  position: absolute;
}
.footer ul {
  display: block;
  height: auto;
  margin: 0;
  margin-top: 20px;
  transform: translateY(-50%);
}
.footer ul li {
  display: inline-block;
  width: auto;
  border-right: 1px solid #ffffff;
}
.footer ul li:last-child {
  border: none;
}
.footer ul li a {
  color: #ffffff;
  font-size: 14px;
  font-family: Roboto;
  display: inline-block;
  height: 16px;
  padding: 0 15px;
  text-decoration: none;
}
.open_menu_btn {
  display: none;
}
@media only screen and (max-width: 500px) {
  .logo {
    width: 70px;
  }
  .header {
    position: relative;
  }
  .header ul {
    display: block;
    width: 100px;
    padding: 0;
    margin: 15px 0 0 0;
    color: #001c7b;
  }
  .header ul li {
    width: 100px;
    display: block;
    height: 25px;
  }
  .header ul li a {
    background-color: white;
    color: #001c7b;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    padding-left: 15px;
    height: 25px;
  }
  .user {
    width: 100px;
    margin: 0;
    background-image: none;
    background: none;
    border-left: none;
    border-top: 1px solid #979797;
  }
  .user div {
    margin-top: 5px;
    height: inherit;
    transform: none;
  }
  .user span {
    color: #001c7b;
    height: 25px;
    text-align: left;
    padding-left: 15px;
    font-size: 12px;
    line-height: 25px;
  }
  .header ul li a:hover {
    color: #ffffff;
    background-color: #001c7b;
  }
  .docs {
    padding-top: 0;
  }
  .footer {
    height: 50px;
  }
  .footer ul {
    display: block;
    height: auto;
    margin: 0;
    transform: none;
    padding-left: 0;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .footer ul li a {
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    margin: 0;
  }
  .footer ul li {
    height: 12px;
    line-height: 12px;
    margin-top: 0;
  }
  .open_menu_btn {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    background-image: url(./assets/mobile.svg);
    background-color: #001c7b;
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
  }
  .open_menu_btn:focus {
    outline: none;
  }
  .menu_wrapper {
    display: none;
    width: 100px;
    height: 160px;
    z-index: 10;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    top: 60px;
  }
  .active {
    display: block;
  }
}
</style>
